menu{
    background: rgb(23, 160, 23);
    padding: 0;
    margin: 0;
}

menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

menu ul li a{
    display: block;
    color: white;
    font-size: 125%;
    text-decoration: none;
    padding: 20px 25px;
    margin-right: 50px;
}